PORT=3000
ATLAS_DB_URL=
LOG_DB_URL=
NODE_ENV='development'
PROBLEM_ADMIN_SERVICE='http:localhost:3000'
SOCKET_SERVICE='http:localhost:3002'
EVALUATOR_SERVICE='http:localhost:8080'
SUBMISSION_SERVICE='http:localhost:3001'
